.container {
    margin-top: 5%;
}

.title-div {
    border-bottom: .5px solid lightgray;
}

.margint-10 {
    margin-top: 10px;
}

.margint-20 {
    margin-top: 20px;
}

.marginb-10 {
    margin-bottom: 10px;
}

.marginb-20 {
    margin-bottom: 20px;
}

.marginb-0 {
    margin-bottom: 0px !important;
}

.thumbnails {
    background: #ecf0f1;
}